<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		= "com.innovarDesign.blink"
        version 	= "1.0.0">

    <name>Blink-Inonic</name>

    <description>
        Domicilios y mensajería en Valledupar
    </description>

    <author href="https://www.facebook.com/josekrlos029"
                email="josekrlos029@gmail.com">
        José Carlos Jimenez Montenegro 
    </author>

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    
    <icon src="image/IconoiOS.jpg" gap:role="default" />
	<icon src="image/IconoiOS.jpg" width="96" height="96" />
	<icon src="image/IconoiOS.jpg" width="72" height="72" />
	<icon src="image/IconoiOS.jpg" width="48" height="48" />
	<icon src="image/IconoiOS.jpg" width="36" height="36" />
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="image/IconoiOS-60.jpg" gap:platform="ios" width="60" height="60" />
              <icon src="image/IconoiOS-120.jpg" gap:platform="ios" width="120" height="120" />
              <!-- iPad -->
              <icon src="image/IconoiOS-76.jpg" gap:platform="ios" width="76" height="76" />
              <icon src="image/IconoiOS-152.jpg" gap:platform="ios" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="image/IconoiOS-40.jpg" gap:platform="ios" width="40" height="40" />
              <icon src="image/IconoiOS-80.jpg" gap:platform="ios" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="image/IconoiOS-57.jpg" gap:platform="ios" width="57" height="57" />
              <icon src="image/IconoiOS-114.jpg" gap:platform="ios" width="114" height="114" />
              <!-- iPad -->
              <icon src="image/IconoiOS-72.jpg" gap:platform="ios" width="72" height="72" />
              <icon src="image/IconoiOS-144.jpg" gap:platform="ios" width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="image/IconoiOS-29.jpg" gap:platform="ios" width="29" height="29" />
              <icon src="image/IconoiOS-58.jpg" gap:platform="ios" width="58" height="58" />
              <!-- iPad Spotlight and Settings Icon -->
              <icon src="image/IconoiOS-50.jpg" gap:platform="ios" width="50" height="50" />
              <icon src="image/IconoiOS-100.jpg" gap:platform="ios" width="100" height="100" />
        
        <!-- SPLASH -->
    <gap:splash src="image/SplashAndroid/320x426.jpg" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="image/SplashAndroid/320x476.jpg" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="image/SplashAndroid/480x640.jpg" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="image/SplashAndroid/720x960.jpg" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="image/SplashiOS/Default.jpg" gap:platform="ios" width="320" height="480" />
    <gap:splash src="image/SplashiOS/Default_at_2x.jpg" gap:platform="ios" width="640" height="960" />
    <gap:splash src="image/SplashiOS/Default_iphone5.jpg" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="image/SplashiOS/Default-Landscape.jpg" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="image/SplashiOS/Default-Portrait.jpg" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="image/SplashiOS/Default-Landscape_at_2x.jpg" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="image/SplashiOS/Default-Portrait_at_2x.jpg" gap:platform="ios" width="1536" height="2008" />
    
    <gap:platforms>
        <gap:platform name="android" minVersion="2.1" />
        <gap:platform name="blackberry" project="widgets"/>
        <gap:platform name="ios" />
    </gap:platforms>
    
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
<!--    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="1428385527442767" />
        <param name="APP_NAME" value="tudomicilio" />
    </gap:plugin>-->
    
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />    
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
   
</widget>
